<!DOCTYPE html>
<html>
<head>
	<!--CDN-->
	<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<!--BOOTSTRAP-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<!--CSS-->
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
	<link rel="stylesheet" type='text/css' href="/slick/slick.css" />
	<link rel="stylesheet" type='text/css' href='/slick/slick-theme.css' />
	 <!-- Compiled and minified Materialize CSS -->
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

 	 <!-- Compiled and minified Materialize JavaScript -->
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
          
	<!--FIREBASE-->
	<script src="https://cdn.firebase.com/js/client/2.3.2/firebase.js"></script>
	<!--LOCAL JS-->
	<script type="text/javascript" src="/slick/slick.min.js"></script>
	<script src="/js/flierDb.js" type="text/javascript"></script>
</head>

<body>	
<nav>
    <div class="nav-wrapper" id="dbHeader">
    <div class="row">
    <div class="col" id="navName1">Engineering Society</div>
    <div class="col" id="navName2">University of California, Los Angeles</div>
    </div>
    </div>
  </nav>

  <div class="row">
  	<div class="col m4 l4">
  		<h4 id="eventInfoTitle">  Upcoming Events</h4>
			<ul class="collection">
					<% for (var i = 0; i<events.length; i++) { %>
					<li class="collection-item">
						<p id="eventTitle"><%= events[i].eventName %></span>
						<p class="list-group-item-text"><%= events[i].organizationName %></p>
						<p class="list-group-item-text"><%= events[i].dateAndTime.toString() %></p>
						<p class="list-group-item-text"><%= events[i].location %></p>
						<% } %>
					</a>
			</ul>
  	</div>
  	<div class="col m8 l8">
  		<div class="carousel carousel-slider" id="flierCarousel">
				<% for (var i =0 ; i<fliers.length ; i++) {%>
				<a class="carousel-item"><img class="flierImg" src = <%= fliers[i] %> ></a>
				<% } %>
			</div>
  	</div>
  </div>
	<!-- <div >
		<div class="eventInfoContainer">
			

		</div>
		
	</div>

	<div id="footer"></div>  -->

</body>
</html>
